<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=789798811406470&autoLogAppEvents=1"></script>

<!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light  fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand">BlogVista</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="/welcomeback">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post">Create Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
           <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><user.name %></a>
              <ul class="dropdown-menu" aria-labelledby="dropdown1">
                  <li class="dropdown-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="dropdown-item"><a href="/users/logout">Logout</a></li>
              </ul>
          </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

  
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://picsum.photos/1000/700/?random')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><%= post.title %></h1>
              <p><%- post.description %></p>
              <span class="meta"><i>Posted by
                  <b><%= post.username %></b>
                  on <b><%= post.createdAt.toDateString() %></b></i>
                </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <main>
              <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-8">
               <!-- Go to www.addthis.com/dashboard to customize your tools --> 
                <center><div class="addthis_inline_share_toolbox"></div></center>
                <p style="text-align: justify;"><%- post.content %></p>
            </div>
          
        
      
      

      <!-- <% more.forEach((post) => { %>
        <div class="post-preview">
        <a href="/post/<%= post.id %>">
          <h2 class="post-title"><%= post.title %></h2>
          <h3 class="post-subtitle"><%= post.description %>    </h3>              
           
        </a>
        <p class="post-meta">Posted By <a href=""><%= post.username %></a> on <%= post.createdAt.toDateString() %></p>
          
        </div>
        <hr>
      <% }) %> -->


      <div class="col-lg-4 col-md-4">
                <section id="yarpp_widget-4" class="widget widget_yarpp_widget">
                  <h2 class="widget-title">Related Posts</h2>
                  <br>
                  <div class='yarpp-related-widget'>

                    <ol>
                        <% more.forEach((post) => { %>
                      <li><a href="/post/<%= post._id %>"><%= post.title %></a></li>
                      
                      <% }) %>
                    </ol>
                    </div>
                    </section>
                    </div>
                    </div>
                    


                    <br>
                    
                    
       <div class="row">
      
    <div class="col-lg-8 col-md-8">
      <div id="disqus_thread"></div>
      <script>
      
     
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://blogvista.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  
  </div>
                                  
</div>
      
      <!--<div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
      <div class="fb-comments" data-href="https://blogvista.herokuapp.com/post/<%= post.id %>" data-width="1000" data-numposts="5"></div>
        </div>
      </div> -->
      
      <!-- Footer -->
      <footer >
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/AbheekKundu">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/avikonweb">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; BlogVista 2019</p>
              </div>
            </div>
          </div>
        </footer>






