<!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a>
  
  
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div> -->
 

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand"><a class="navbar-brand"><img src="/logo.png" width="30" height="30" alt="#" class="d-inline-block align-top">BlogVista</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/welcomeback">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/post">Create Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="/dashboard"><%= user.name %></a>
              </li>  -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.name %></a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>  
               
               
              <!-- <ul class="dropdown-menu" aria-labelledby="dropdown1">
                    <li class="dropdown-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="dropdown-item"><a href="/users/logout">Logout</a></li>
                </ul> -->
            </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="/users/login">Login</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    
      <!-- Page Header -->
      <header class="masthead" style="background-image: url('/img/welcomeback.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>BlogVista</h1>
                <span class="subheading">Welcome <b><%= user.name %></b></span>
              </div>
            </div>
          </div>
        </div>
      </header>
      
      <!-- Marquee Text--> 
<div class="container">
    <!-- <div class="row"> -->
    <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <!-- <strong><i class="fa fa-warning"></i></strong>--> <marquee><p style="font-family: Impact; font-size: 18pt">Go to the Menu to Create Post. You can update or delete your post from the Dashboard. </p></marquee>
  </div>
    </div>
    
      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
    
              <div class="list-group">
                  <!-- loop over blog posts and render them -->
    
                  <% posts.forEach((post) => { %>
                    <a href="/post/<%= post.id %>" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= post.title %></h4>
                      <!-- <p class="list-group-item-text"><%= post.author %></p> -->
                      <p class="list-group-item-text">Posted By <%= post.username %> on <%= post.createdAt.toDateString() %></p>
                    
                    </a>
                    <br>
                  <% }) %>
                </div>
            
    
      <hr>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="https://twitter.com/AbheekKundu">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/avikonweb">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted">Copyright &copy; BlogVista 2019</p>
            </div>
          </div>
        </div>
      </footer>
