<!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a>
  
  
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div> -->
  
  <script>
    function myFunction() {
      var x = document.getElementById("mySection");
      var y = document.getElementById("mySection2");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } 
     else {
      x.style.display = "none";
      y.style.display = "block";
      }
    }
    
    function myFunction2() {
      var x = document.getElementById("mySection");
      var y = document.getElementById("mySection2");
      if (y.style.display === "none") {
        y.style.display = "block";
        x.style.display = "none";
      } else {
        y.style.display = "none";
        x.style.display = "block";
      }
    }
    </script>

 

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand"><img src="/logo1.png" width="120" height="30" alt="#" 
        class="d-inline-block align-top rounded"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" data-step="3" data-intro="Navigation Bar">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/post">Create Post</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item" data-step="4" data-intro="Create An Account">
              <a class="nav-link" href="/users/register">SignUp</a>
          </li>
          <li class="nav-item" data-step="5" data-intro="Login Your Account">
              <a class="nav-link" href="/users/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/newhome-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 data-step="1" data-intro="get started">BlogVista</h1>
            <span class="subheading" data-step="2" data-intro="Introduction">A Blog Site- Made By <b>Avik</b></span>
	    <br>
	    <a class="btn btn-large btn-primary" style=" background-color: #4CAF50" href="javascript:introJs().setOption('showProgress', true).start();">Get a demo tour</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Marquee Text-->  
  <div class="container">
	<!-- <div class="row"> -->
	<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <!-- <strong><i class="fa fa-warning"></i></strong>--> <marquee><p style="font-family: Impact; font-size: 18pt">Please select the  Signup option from the Menu to create an Account And Post !     * Please report bugs in contact section *</p></marquee>
</div>
	</div>

 <div class="col-lg-10 col-md-10 mx-auto text-center" data-step="6" data-intro="Change Layouts" >
      <button class="btn active" onclick="myFunction() ">Grid</button>
      <button class="btn" onclick="myFunction2()">List</button>
      </div>
  
 <!-- Main Content -->
  <div class="container" data-step="7" data-intro="Blog Posts">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

    <section id="mySection2" style="display:none;">
              <hr>
        
              <!-- loop over blog posts and render them -->

              <% posts.forEach((post) => { %>
                <div class="post-preview">
                <a href="/post/<%= post.id %>" class="list-group-itemew">
                  <h2 class="post-title"><%= post.title %></h2>
                  <h3 class="post-subtitle"><%= post.description %>                 
                    </h3>
                </a>
                  <!-- <p class="list-group-item-text"><%= post.author %></p> -->
                  <p class="post-meta">Posted By <a href=""><%= post.username %></a> on <%= post.createdAt.toDateString() %></p>
                </div>
                <hr>
              <% }) %>
            
      </section>

      <section id="mySection">
          <hr>
        <div class="card-columns">
            <% posts.forEach((post) => { %>
            <div class="card" style="width:300px">
            <img class="card-img-top" src="https://picsum.photos/1000/700/?random" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title"><%= post.title %></h4>
              <p class="card-text">Posted By <%= post.username %> on <%= post.createdAt.toDateString() %></p>
              <a href="/post/<%= post.id %>" class="btn btn-primary stretched-link">Read More..</a>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
           







        
        
        
        <!-- <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
              We predict too much for the next year and yet far too little for the next ten.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Failure is not an option
            </h2>
            <h3 class="post-subtitle">
              Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div> -->



        <hr>
        

  

  <!-- Footer -->
  <footer>
    <div class="container" data-step="8" data-intro="Social Media Links">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/AbheekKundu">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/avikonweb">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; BlogVista 2019</p>
        </div>
      </div>
    </div>
  </footer>
